
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Student Project</h2>
<h3>Session Sid is : @Session["Sid"]</h3>
<h3>TempData Sid is : @TempData["Sid"]</h3>
<h3>ViewData Sid is: @ViewData["Sid"]</h3>

