
@{
    ViewBag.Title = "GetUsers";
}

<h2>GetUsers</h2>


@*@foreach (var item in Model)
{


    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @item.UserName
            </dt>

            <dd>
                @item.Password
            </dd>

        </dl>
    </div>
}*@



