
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>


<body style=" background-image:url(images/bg.jpg); margin:0; font-family:Arial, Helvetica, sansserif;  ">

<div>
  <table style="width:100%; padding:0; border-collapse:collapse" border="0" >
    <tr>
      <td style="width:10%;background-image:url(images/header_bg.jpg); background-repeat:repeat-x;height:275px">&nbsp;</td>
      <td style="background-image:url(images/header_bg.jpg); background-repeat:repeat-x; height:275px"><table style="width:100%" border="0" padding:0; border-collapse:collapse">
        <tr>
          <td style="width:65%"><img src="images/header_img.jpg" width="545" height="275"></td>
          <td style="width:35%; text-align:right;vertical-align:bottom;color:#ffffff; font-family:Georgia; font-size:36px;">Gift Gallery </td>

              </tr>
      </table></td>
      <td style="width:10%;background-image:url(images/header_bg.jpg); background-repeat:repeat-x;height:275px">&nbsp;</td>
    </tr>
    <tr>
      <td style="width:10%">&nbsp;</td>
      <td style="height:35px; background-color:#ffcc00;color:#000">Home</td>
      <td style="width:10%">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="background-color:#FFFFFF; "><table style="width:98%;padding:0; border-collapse:collapse; margin-left:auto;margin-right:auto" border="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Featured Products</td>
        </tr>
        <tr>
          <td><table style="width:100%;padding:0; border-collapse:collapse" border="0" >
            <tr>
              <td><img src="images/pro1.jpg" width="103" height="103"></td>
              <td><img src="images/pro2.jpg" width="103" height="103"></td>
              <td><img src="images/pro3.jpg" width="103" height="103"></td>
              <td><img src="images/pro4.jpg" width="103" height="103"></td>
              <td><img src="images/pro5.jpg" width="103" height="103"></td>
              <td><img src="images/pro6.jpg" width="103" height="103"></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="font-size:12px; ">
          Gift Gallery is a store for people who enjoy collecting gifts and for those shoppers who like to give unique gifts. We ensure the industry standard of customer service and provide best offers to our customers.

          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="font-size:12px; "><p>More from Gift Gallery.....</p></td>
        </tr>
        <tr>
          <td style="font-size:12px; "><ul>
            <li> Awesome Range of GARFIELD Products - Mugs, Sippers, Cushions, Clocks, Keychains and more....</li>
            <li>New Range of FUNKY GIFTS - Telephones, Players, Desktop Fans, Amazing Gifts, more...</li>
          </ul></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
      <td>&nbsp;</td>
    </tr>
      
    <tr>
      <td style="width:10%">&nbsp;</td>
      <td>&nbsp;</td>
      <td style="width:10%">&nbsp;</td>
    </tr>
       
  </table>


</div>

</body>
</html>


















