@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Oops!!!Something went wrong....Please try later.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div style="background-color: #A52A2A; color: White; height: 10px;">
</div>
<div style="background-color: #F5F5DC; color: blue; height: 170px;">
    <div style=" padding:200px;">
        <h3>
            Application Error:
        </h3>
       
        <h4>@Model.ControllerName</h4>
        <h4>@Model.ActionName</h4>
        <h3>@Model.Exception.Message</h3>

        <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
        <br />
        <br />
    </div>
</div>

<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>



