@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CTS Movie Project using MVC</h1>
    <p class="lead">Demo of Creating Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://localhost:44378/Login/UserLogin" class="btn btn-lbtn-primary g">Login &raquo;</a></p>
</div>

