
@{
    ViewBag.Title = "AddCategory";
}

<h2>AddCategory</h2>

@using(Html.BeginForm())
{
<label>Enter Category Name:</label>
<input type="text" id="name" />
<br />
<label>Enter Description:</label>
<input type="text" id="desc" />

<input type="submit" value="Create" />
}

